{% extends "layout.html" %}

{% block title %}Register{% endblock title %}

{% block body %}
    <div class="reg-log-card">
        <h1 class="page-title card-title">Register</h1>
        <div class="reg-log-form">
            <form action="{% url 'account:register' %}" method="post">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="field-label errors">
                        <div class="msg">{{ error|safe }}</div>
                    </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <div class="field-label">
                        <label for="username">Username <small>(required)</small></label>
                    </div>
                    {% if form.username.errors %}
                        <div class="field-label errors">
                            <ul class="field-errors-ul">
                                {% for error in form.username.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <input class="form-control" type="text" name="username" placeholder="Username" value={% if form.username.value %}{{ form.username.value }}{% else %}{% endif %}>
                </div>
                <div class="form-group">
                    <div class="field-label">
                        <label for="email">Email <small>(required)</small></label>
                    </div>
                    {% if form.email.errors %}
                        <div class="field-label errors">
                            <ul class="field-errors-ul">
                                {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <input class="form-control" type="email" name="email" placeholder="Email Address" value={% if form.email.value %}{{ form.email.value }}{% else %}{% endif %}>
                </div>
                <div class="form-group">
                    <div class="field-label">
                        <label for="first_name">First Name</label>
                    </div>
                    {% if form.first_name.errors %}
                        <div class="field-label errors">
                            <ul class="field-errors-ul">
                                {% for error in form.first_name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <input class="form-control" type="text" name="first_name" placeholder="First Name" value={% if form.first_name.value %}{{ form.first_name.value }}{% else %}{% endif %}>
                </div>
                <div class="form-group">
                    <div class="field-label">
                        <label for="last_name">Last Name</label>
                    </div>
                    {% if form.last_name.errors %}
                        <div class="field-label errors">
                            <ul class="field-errors-ul">
                                {% for error in form.last_name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <input class="form-control" type="last_name" name="last_name" placeholder="Last Name" value={% if form.last_name.value %}{{ form.last_name.value }}{% else %}{% endif %}>
                </div>
                <div class="form-group">
                    <div class="field-label">
                        <label for="password1">Password <small>(required)</small></label>
                    </div>
                    {% if form.password1.errors %}
                        <div class="field-label errors">
                            <ul class="field-errors-ul">
                                {% for error in form.password1.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <input class="form-control" type="password" name="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <div class="field-label">
                        <label for="password2">Confirm the Password <small>(required)</small></label>
                    </div>
                    {% if form.password2.errors %}
                        <div class="field-label errors">
                            <ul class="field-errors-ul">
                                {% for error in form.password2.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <input class="form-control" type="password" name="password2" placeholder="Confirm the Password">
                </div>
                <input class="reg-login-btn" type="submit" value="Register">
            </form>
            <div class="acc-redirect">
                Already have an account? <a href="{% url 'account:login' %}">Log In here</a>
            </div>
        </div>
    </div>
{% endblock %}