{% extends "layout.html" %}

{% block title %}Account{% endblock title %}

{% block body %}
    <div class="reg-log-card">
        <h1 class="page-title card-title">Account info</h1>

        <div class="info-grid">
            <div class="param"><span>Account name:</span></div>
            <div class="value">{{ user_details.username }}</div>

            <div class="param"><span>First name:</span></div>
            <div class="value">
                {% if user_details.first_name %}
                    {{ user_details.first_name }}
                {% else %}
                    <span>Not provided.</span>
                {% endif %}
            </div>

            <div class="param"><span>Last name:</span></div>
            <div class="value">
                {% if user_details.last_name %}
                    {{ user_details.last_name }}
                {% else %}
                    <span>Not provided.</span>
                {% endif %}
            </div>

            <div class="param"><span>E-mail:</span></div>
            <div class="value">{{ user_details.email }}</div>
        </div>

        <div class="buttons">
            <div class="first-btn">
                <a id="gla-btn" href="#">
                    Change info
                </a>
            </div>
            <div class="second-btn">
                <a id="gla-btn" href="#">
                    Change password
                </a>
            </div>
        </div>
    </div>
    
    {% comment %} <div class="reg-log-card">
        <h1 class="page-title">Log In</h1>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        
        <form action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="field-label">
                    <label for="username">Username</label>
                </div>
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <div class="field-label">
                    <label for="username">Password</label>
                </div>
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="reg-login-btn" type="submit" value="Log In">
        </form>
        <div class="acc-redirect">
            Don't have an account? <a href="{% url 'account:register' %}">Register here</a>
        </div>
    </div> {% endcomment %}
{% endblock %}