{% extends 'layout.html' %}

{% block title %}My listings{% endblock title %}

{% block body %}
    <div class="basic-title">
        <h1 class="page-title">My listings</h1>
    </div>

    <div class="filtering-panel">
        <div class="radio">
            <label class="form-label" for="sort">Sort by:</label>
            <form id="sort" class="rad-form" action="{% url 'auctions:get_users_listings' %}" method="GET">
                <input class="rad-point" type="radio" id="all" name="bid_filter" value="all" {% if not request.GET.bid_filter or request.GET.bid_filter == "all" %}checked{% endif %}>
                <label class="rad-label" for="all">Show all</label>
                <input class="rad-point" type="radio" id="no-bids" name="bid_filter" value='no_bids'{% if request.GET.bid_filter == "no_bids" %}checked{% endif %}>
                <label class="rad-label" for="no-bids">Without bids</label>
                <input class="rad-point" type="radio" id="bids" name="bid_filter" value="bids"{% if request.GET.bid_filter == "bids" %}checked{% endif %}>
                <label class="rad-label" for="bids">With bids</label>

                <select class="select-ordering" name="lst_sort" id="slct-sort">
                    <option value="date_desc" {% if request.GET.lst_sort == "date_desc" %}selected{% endif %}>Date Desc</option>
                    <option value="date_asc" {% if request.GET.lst_sort == "date_asc" %}selected{% endif %}>Date Asc</option>
                    <option value="name" {% if request.GET.lst_sort == "name" %}selected{% endif %}>Name</option>
                    <option value="bid_asc" {% if request.GET.lst_sort == "bid_asc" %}selected{% endif %}>Bid Asc</option>
                    <option value="bid_desc" {% if request.GET.lst_sort == "bid_desc" %}selected{% endif %}>Bid Desc</option>
                </select>

                <input class="sort-btn" type="submit" value="Sort">
            </form>
        </div>
    </div>

    {% if users_listings %}
        <div class="wlst">
            {% for listing in users_listings %}
                <a class="wlst-url" href="{{listing.get_absolute_url}}">
                    <div class="wlst-img">
                        {% if listing.image %}
                            <img class="wlst-img" src="{{ listing.image }}" alt="{{ listing.name }}">
                        {% else %}
                            <img class="wlst-img" src="https://media.istockphoto.com/vectors/default-image-icon-vector-missing-picture-page-for-website-design-or-vector-id1357365823?b=1&k=20&m=1357365823&s=170667a&w=0&h=y6ufWZhEt3vYWetga7F33Unbfta2oQXCZLUsEa67ydM=" alt="No image available">
                        {% endif %}
                    </div>
                    <div class="lst-name">
                        {{ listing.name }}
                    </div>
                    <div class="lst-bid">
                        {% if listing.max_bid %}
                            <small>Current bid:</small> US ${{ listing.max_bid }}
                        {% else %}
                            <small>Starting bid:</small> US ${{ listing.start_bid }}
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        There's nothing here yet.
    {% endif %}
{% endblock body %}